In [2]:
import pandas as pd
import csv

# Path to your data file
file_path = "datasample.txt"  # Or .txt if you saved as plain text

# Define column names
columns = [
    "Day Record", "Register Date", "Source", "MemberType", "Username", 
    "Fullname", "Line", "DOB", "VIP", "Phone", 
    "Email"
]

# Read the file
df = pd.read_csv(
    file_path,
    sep="\t",                  # tab-separated
    names=columns,             # no header row in file
    header=None,
    engine="python",           # robust with multi-line fields
    quotechar='"',             # honor quotes
    quoting=csv.QUOTE_MINIMAL, # allow newlines inside quoted Notes
    doublequote=True,
    na_values=["null"],
    dtype=str,                 # keep everything as string (incl. '@...')
    keep_default_na=False
)

df

,Day Record,Register Date,Source,MemberType,Username,Fullname,Line,DOB,VIP,Phone,Email
0,8/8/2025,8/7/2025,NaN,Non - Deposit,nhungnhung88,TRAN THI THANH LOAN,xingtg004004,NaN,NaN,923981851,phi481818@gmail.com
1,8/8/2025,8/7/2025,NaN,Non - Deposit,vandat8383,LAM VAN DAT,xingtg0030406,NaN,NaN,359301897,lamhoaidat0101str@gmail.com
2,8/8/2025,8/7/2025,NaN,Non - Deposit,vien28,DINH VAN VIEN,xingtg004008,NaN,NaN,342157620,Quangvien956@gamili.com
3,8/7/2025,8/7/2025,NaN,Non - Deposit,kiepdoden88,DOAN VAN THUAN,xingtg004004,NaN,NaN,929977604,hahaha666.96@gmail.com